h1 {
    text-align: center;
}

.players {
    border: 2px solid black;
    width: 120px;
    height: 120px;
    display: block;
    margin: 15px auto;
}

main {
    display: flex;
    align-items: center;
}

#player1, #player2 {
    flex: 0 0 10%; 
    text-align: center;
    border: 2px solid black;
    height: 750px;
}

#game {
    flex: 0 0 79.35%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    height: 750px;
    background-image: url("images/tijeras.png");
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 2px solid black;
}

.left,
.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
    margin-left: 35px;
}

.right {
    justify-content: flex-end;
    margin-right: 45px;
}

.center {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-group {
    display: flex;
    gap: 5px;
}

#nombre-jugador {
    margin-top: 10px;
    height: 10px;
    /* Agrega un poco de padding si quieres que el texto no esté pegado a los bordes */
    padding: 5px 10px;
    /* Esto es opcional pero da una apariencia más agradable al input */
    border-radius: 20px;
}

#boton-jugar {
    padding: 10px 20px;
    /* Esto es opcional pero da una apariencia más agradable al input */
    border-radius: 20px;
}

.eleccion-player1 {
    width: 400px;
    height: 400px;
}

.eleccion-player2 {
    width: 400px;
    height: 400px;
}

.vs {
    width: 120px;
    height: 120px;
    margin: 120px;
}

.resultado {
    width: 800px;
    height: 120px;
}

#contador, #partida, #anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

