h1 {
    text-align: center;
}

.players {
    border: 2px solid black;
    width: 120px;
    height: 120px;
    display: block;
    margin: 10px auto;
}

main {
    display: flex;
    align-items: center;
}

#player1, #player2 {
    flex: 0 0 10%; 
    text-align: center;
    border: 2px solid black;
}

#game {
    flex: 0 0 79.35%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
}

header {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; 
    gap: 5px;
}

.input-group {
    display: flex;
    gap: 5px;
}

#nombre-jugador {
    margin-top: 10px;
    height: 10px;
    /* Agrega un poco de padding si quieres que el texto no esté pegado a los bordes */
    padding: 5px 10px;
    /* Esto es opcional pero da una apariencia más agradable al input */
    border-radius: 20px;
}

#boton-jugar {
    padding: 10px 20px;
    /* Esto es opcional pero da una apariencia más agradable al input */
    border-radius: 20px;
}

.eleccion-player1 {
    border: 2px solid black;
    width: 400px;
    height: 400px;
}

.eleccion-player2 {
    border: 2px solid black;
    width: 400px;
    height: 400px;
}

.vs {
    border: 2px solid black;
    width: 120px;
    height: 120px;
}

.resultado {
    border: 2px solid black;
    width: 800px;
    height: 120px;
}

#contador, #partida, #anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Las demás propiedades ya las has definido anteriormente */
    border: 2px solid black;
    margin: 15px;
}

